<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Settings UI</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" />
  </head>

  <body class="bg-light d-flex justify-content-center align-items-center vh-100">
    <div class="bg-white p-3 p-md-4 rounded-4 shadow-sm d-flex flex-column" style="width: 95vw; height: 90vh; max-width: 1600px; max-height: 1000px">
      <div class="d-flex justify-content-between align-items-center mb-3 mb-md-4">
        <ul class="nav nav-tabs border-0">
          <li class="nav-item">
            <a class="nav-link {{#unless orders}} active {{/unless}}" href="/settings">{{lang.settings.global.settingsTab}}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {{#if orders}} active {{/if}}" href="/settings/orders">{{lang.settings.global.ordersTab}}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/settings/iframe">{{lang.settings.global.iFrameTab}}</a>
          </li>
        </ul>
        <div>
          <button id="logout-btn" class="btn btn-link">{{lang.settings.global.logoutBtn}}</button>
        </div>
      </div>

      {{#unless orders}}
      <form class="overflow-scroll px-4">
        <div class="form-group">
          <label for="company" class="fs-3 m-1">{{lang.settings.information.company}}</label>
          <input type="text" name="company" class="companyInput form-control m-1" value="{{user.company}}" required />
        </div>
        <div class="form-group">
          <label for="name" class="fs-3 m-1">{{lang.settings.information.name}}</label>
          <input type="text" name="name" class="nameInput form-control m-1" value="{{user.name}}" required />
        </div>
        <div class="form-group">
          <label for="surname" class="fs-3 m-1">{{lang.settings.information.surname}}</label>
          <input type="text" name="surname" class="surnameInput form-control m-1" value="{{user.surname}}" required />
        </div>
        <div class="form-group">
          <label for="street" class="fs-3 m-1">{{lang.settings.information.street}}</label>
          <input type="text" name="street" class="streetInput form-control m-1" value="{{user.street}}" required />
        </div>
        <div class="form-group">
          <label for="postalCode" class="fs-3 m-1">{{lang.settings.information.postalCode}}</label>
          <input type="text" name="postalCode" class="postalCodeInput form-control m-1" value="{{user.postalCode}}" required />
        </div>
        <div class="form-group">
          <label for="city" class="fs-3 m-1">{{lang.settings.information.city}}</label>
          <input type="text" name="city" class="cityInput form-control m-1" value="{{user.city}}" required />
        </div>
        <div class="form-group">
          <label for="country" class="fs-3 m-1">{{lang.settings.information.country}}</label>
          <input type="text" name="country" class="countryInput form-control m-1" value="{{user.country}}" required />
        </div>
        <div class="form-group">
          <label for="phoneNumber" class="fs-3 m-1">{{lang.settings.information.phoneNumber}}</label>
          <input type="tel" name="phoneNumber" class="phoneNumberInput form-control m-1" value="{{user.phoneNumber}}" required />
        </div>
        <div class="form-group">
          <label for="latitude" class="fs-3 m-1">{{lang.settings.information.latitude}}</label>
          <input type="latitude" name="latitude" class="latitudeInput form-control m-1" value="{{user.latitude}}" required />
        </div>
        <div class="form-group">
          <label for="longitude" class="fs-3 m-1">{{lang.settings.information.longitude}}</label>
          <input type="longitude" name="longitude" class="longitudeInput form-control m-1" value="{{user.longitude}}" required />
        </div>
        <button type="submit" class="saveButton btn btn-primary position-relative start-50 translate-middle mt-5 fs-4">{{lang.settings.information.saveButton}}</button>
      </form>
      <script>
        document.querySelector(".saveButton").addEventListener("click", async (event) => {
          event.preventDefault();
          try {
            await fetch(window.location.protocol + "//" + window.location.host + "/api/v1/users/{{user.userId}}", {
              method: "PATCH",
              body: JSON.stringify({
                company: document.querySelector(".companyInput").value,
                name: document.querySelector(".nameInput").value,
                surname: document.querySelector(".surnameInput").value,
                street: document.querySelector(".streetInput").value,
                postalCode: document.querySelector(".postalCodeInput").value,
                city: document.querySelector(".cityInput").value,
                country: document.querySelector(".countryInput").value,
                phoneNumber: document.querySelector(".phoneNumberInput").value,
                coordinates: {
                  latitude: document.querySelector(".latitudeInput").value,
                  longitude: document.querySelector(".longitudeInput").value,
                },
              }),
              headers: new Headers({ "content-type": "application/json" }),
            });

            document.querySelector(".saveButton").innerHTML = "{{lang.settings.information.savedText}}";
          } catch (error) {
            document.querySelector(".saveButton").innerHTML = "{{lang.settings.information.saveFailedText}}";
          }

          setTimeout(() => {
            document.querySelector(".saveButton").innerHTML = "{{lang.settings.information.saveButton}}";
          }, 1000);
        });
      </script>
      {{/unless}} {{#if orders}} {{#each history}}
      <div class="m-3 overflow-scroll">
        <p class="m-1 fs-5">{{../lang.settings.orders.iFrame1Year}}</p>
        <p class="m-1">{{../lang.settings.orders.begin}} {{this.creationDate}}</p>
        <p class="m-1">{{../lang.settings.orders.expiry}} {{this.expirationDate}}</p>
      </div>
      {{/each}} {{/if}}
    </div>

    <script>
      // Logout Logic
      const logoutBtn = document.getElementById("logout-btn");
      if (logoutBtn) {
        logoutBtn.addEventListener("click", () => {
          // Clear localStorage
          localStorage.clear();

          // Clear Cookies
          document.cookie.split(";").forEach((c) => {
            document.cookie = c.replace(/^ +/, "").replace(/=.*/, "=;expires=" + new Date().toUTCString() + ";path=/");
          });

          // Redirect to Home
          window.location.href = "/";
        });
      }
    </script>
  </body>
</html>
