body{
    height: 100dvh;
    overflow: hidden;
    position: relative;
}
/* Chrome, Edge, and Safari */
::-webkit-scrollbar{
    width: 12px; /* Adjust width for horizontal and vertical scrollbars */
}
::-webkit-scrollbar-track{
    background: #f0f0f0; /* Background of the scrollbar track */
}
::-webkit-scrollbar-thumb{
    background-color: #888; /* Color of the draggable part (thumb) */
    border-radius: 10px; /* Rounded corners */
    border: 2px solid #f0f0f0; /* Space around the thumb */
}
::-webkit-scrollbar-thumb:hover{
    background-color: #555; /* Thumb color on hover */
}
body{
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: var(--font-family);
    font-size: var(--font-size);
}
header{
    background-color: var(--header-background-color);
    color: var(--header-text-color);
}
button{
    background-color: var(--button-background-color);
    color: var(--text-color);
    border: 1px solid var(--input-border-color);
    transition: background-color 0.3s ease;
}
button:hover{
    background-color: var(--button-hover-background-color);
}
input{
    background-color: var(--input-background-color);
    border: 1px solid var(--input-border-color);
    color: var(--text-color);
}
input:hover{
    border-color: var(--button-hover-background-color);
}
select{
    background-color: var(--input-background-color);
}
h1, h2, h3, h4, p{
    color: var(--text-color);
    font-family: var(--font-family);
    font-weight: 500;
}
p{
    font-weight: 400;
    font-size: var(--font-size);
}
