.popup-overlay{
    position: fixed; /* Fixed to cover the entire viewport */
    top: 0;          /* Ensure it starts from the top */
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000; /* Higher than the header to cover the screen */
}
.popup-content{
    background-color: var(--popup-background-color); /* Use variable for background color */
    color: var(--popup-text-color); /* Use variable for text color */
    padding: 30px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    position: relative; /* For positioning the close button */
}
.popup-content input{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid var(--input-border-color);
    border-radius: 5px;
    font-size: 16px;
    transition: border-color 0.3s;
}
.popup-content input:focus{
    border-color: var(--input-button-color);
    outline: none; /* Remove default outline */
}
.close-popup{
    background: var(--close-button-color); /* Use variable for close button color */
    color: white; /* Use white for text color */
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    position: absolute; /* Position the button absolutely */
    top: 10px; /* Distance from the top */
    right: 10px; /* Distance from the right */
    transition: background 0.3s;
}
.close-popup:hover{
    background: darkred; /* Optional hover effect */
}
.log-into-account{
    background: green; /* Use variable for login button color */
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    margin-top: 20px;
}
.popup-footer{
    margin-top: 15px;
}
.popup-footer button{
    margin-right: 10px;
    padding: 8px 15px;
    background-color: var(--input-button-color);
    color: var(--text-color);
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}
.popup-footer button:hover{
    background-color: var(--input-button-hover-color);
}
.popup-footer a{
    color: var(--user-message-color);
    text-decoration: none;
}
.popup-footer a:hover{
    text-decoration: underline;
}
.popup-content p{
    color: var(--popup-text-color); /* Use variable for paragraph text color */
    margin: 10px;
}
