.user-message,
.ai-message {
    margin: 10px 0;
    padding: 10px 15px;
    border-radius: 15px;
    max-width: 60%;
    width: fit-content;
    word-wrap: break-word;
    display: block;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
}
.user-message {
    background-color: var(--user-message-background-color);
    color: var(--text-color);
    border-bottom-right-radius: 0;
    margin-left: auto;
    text-align: left;
    margin-right: 1.5vw;
}
.ai-message {
    background-color: var(--ai-message-background-color);
    color: var(--text-color);
    border-bottom-left-radius: 0;
    margin-right: auto;
    text-align: left;
}
.ai-container{
    position: relative;
    height: min-content;
    bottom: 0;
    width: 100%;
}
